<li>
	<img src="/../../assets/img/burger-.icon.png" alt="burger icon" class="icon">
	
	{{burger_name}}

	<button class="devour-it" data-id="{{id}}" data-isDevoured="{{devoured}}">
		{{#if devoured}}YOU DEVOURED A {{burger_name}}!{{else}}DEVOUR IT!{{/if}}
	</button>
    
</li>
